*{
    margin:0; /*thi is of the full screen in webpage*/
    padding:0 0;
}

body{
    background: url(image/contact-background.jpg);
}


.contact{ /*this is for editing contact (phone,email and form) */
    position: relative;
    min-height: 66.5vh;
    align-items: center;
    padding: 0px 130px;
    display: flex;
    flex-direction: column;
}

.contact .content{
    max-width: 800px;
    text-align: center;
}

.contact .content h2{
    font-size: 21px;
    font-weight: 1000;
    font-family:Arial, Helvetica, sans-serif;
}


.contact .content h1{ /* this is for editing the note!! part */
     font-size: 2.5vh;
     font-weight: 1000;
     border: 5px solid orangered;
     font-family: sans-serif;
     text-transform: uppercase;
     animation: blink 1s linear infinite;
}

@keyframes blink{
    0%{opacity: 0}   
}

.span{
    animation:blink 2s linear infinite;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo{ /*this id for managing the left side 'location,phone and mail' */
    width: 80%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    flex-direction: column;
    font-weight: 300;
}


.container .contactInfo .box .text h3{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    color: blue;
}

.aboutus{
    width: 100%;
    right: 20%;
    transition: 2s;
}

.contactForm{ /*this is for making the white box fo the form */
    left: 80vh;
    bottom: 11vh;
    width: 45%;
    padding: 40px;
    background: rgba(255, 255, 255, 0.55);
border-radius: 16px;
box-shadow: 0 5px 30px rgb(17, 0, 255);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    position: fixed; 
    border-radius: 50px;
    display: none;
}



.contactForm h2{
    font-size: 30px;
    color: black;
    font-weight: 900;
    text-align: center;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.fa{ /*this is for the making cross icon as a pointer in the form */
    cursor: pointer;
    font-size: 18px;
}


.inputBox{
    text-align: center;
}


.inputBox input[type=text]{
    background-color: transparent;
}

.inputBox textarea[required=required]{
    background-color: transparent;
}



.form-button{ /*this is of the register button editing*/
    top: 1vh;
    left: 20vh;
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 18vh 44vh;
    rotate: -14deg;
    font-size: 0px;
    background: transparent;
    position: relative;
    cursor: pointer;
}


.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid orangered;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: blue;
    font-weight: 1000;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: red;
    font-size: 16px;
    transform: translateY(-20px);
}

.contactForm .inputBox button[type="submit"]{
    background: transparent;
    color: green;
    font-weight: 900;
    cursor: pointer;
    font-size: 20px;
    border: none;
}


@media(max-width: 700px){
    .contact{
        min-height: 50vh;
        padding: 0px 50px;
    }

    .container{
        flex-direction: column;
    }
    .container .contactInfo{
        margin-bottom: 40px;
    }
    .contactForm{
        top: -2vh;
        width: 85%;
        padding: 20px;
        bottom: 5vh;
        left: 2.5vh;
        position: relative;
    }
    .contact .content h1{
        display: none;
        
    }
    .form-button{
        font-weight: 1000;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        border: 2px solid red;
        rotate: 0deg;
        top: 50;
        left: 12.5vh;
        display: inline-block;
        text-decoration: none;
        color: blue;
        padding: 10px 55px;
        font-size: 15px;
        background: transparent;
        position: relative;
        cursor: pointer;
        
    }
    
}

nav{ /*this is for the inside of nav class*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
    

nav img{ /*this is of logo image*/
    width: 150px;
}

.link{ /*this is of the home,contact, etc. position*/
    flex: 1;
    text-align: right;
}

.link ul li{ /*this is of home,contact etc design*/
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.link ul li a{ /*this is the color and size of menu*/
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.link ul li::after{ /*this is of the red underline after putting cursor to the home,contact etc.*/
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.link ul li:hover::after{ /*hover mean the pointing time, and this is of red underline lenght*/
    width: 100%;
}










nav .fa{ /*this is to hide the icon on both big and small screen*/
    display: none;
}

@media(max-width: 700px){ /*this is for the mobile screen disply*/
    .textbox h1{
        font-size: 35px;
    }

    .link ul li a{
        color: white;
    }


    .link ul li{
        display: block;
    }
    

    .link ul{ /*this is for making the home, contact etc in the middle of side bar*/
        margin: 15%;
    }




     .link{ /*this is for the side bar editing*/
        background: black;
        position: fixed;
        right: -200;
        top: 0;
        height: 100vh;
        width: 150px;
        text-align: left;
        transition: 1s;
        z-index: 2;

     }

     nav .fa{ /*this is for the showing icon in the side bar*/
        display: block;
        font-size: 17px;
        cursor: pointer;
        color: orangered;
        margin: 10px;
    
     }
}


.feat{ /*this is for the editing of the 3 partation of text 'BHAKTAPUR'*/
    text-align: center;
    margin-top: 3%;
    font-size: 30px;
}

p{ /*this is for the paragrapy written after BHAKTAPUR*/
    text-align: center;
    font-size: 20px;
}



.row{ /*this is for making 3 partation in different parts*/
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.col{ /*this is for the editing of 3 partation like adding box, color etc*/
    flex-basis: 31%;
    text-align: center;
    margin: 5%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 100px;

}

.col:hover{ /*this is of the pointing editing by placing cursor in the 3part*/
    background-color: red;
    color: white;
    box-shadow: 15px 15px 10px gray;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}






.footer{ /*this is for the social media icon  designing*/
    text-align: center;
    padding-top: 7px;
    background: black;
box-shadow: 0 8px 32px 0 blue ;
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid blue;
}

h3{
    color: white;
}

.footer p{
    color: white;
}


.footer i{
    font-size: 15px;
    cursor: pointer;
}
    


.lastline{ /*this is for making the 'copyright' to the left*/
    color: white;
    display: flex;
    width: 90%;
    font-size: 15px;
    margin: auto;
    padding-bottom: 7px;
}

.pages{
    flex: 1;
    display: inline-block;
    text-align: right;

}
