*{
    margin:0; /*thi is of the full screen in webpage*/
    padding:0;
}


.header{ /*this is the background page designing*/
    width: 100%;
    min-height: 100vh;
    background-image: url("image/background.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{ /*this is for the inside of nav class*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
    
}

nav img{ /*this is of logo image*/
    width: 150px;
}

.link{ /*this is of the home,contact, etc. position*/
    flex: 1;
    text-align: right;
}

.link ul li{ /*this is of home,contact etc design*/
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 8px 12px;
}

.link ul li a{ /*this is the color and size of menu*/
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.link ul li::after{ /*this is of the red underline after putting cursor to the home,contact etc.*/
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.link ul li:hover::after{ /*hover mean the pointing time, and this is of red underline lenght*/
    width: 100%;
}

.textbox{ /*this is of the main sentence in the middle, 'welcome.....'*/
    width: 80%;
    color: greenyellow;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.textbox h1{ /*this is of the main sentence font sixe*/
    font-size: 40px;
}

.textbox p{ /*this of the main sentence font size*/
    font-size: 20px;
}

.search{ /*this is for the search section*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{ /*this is for the managing the search bar*/
    width: 100%;
    max-width: 700px;
    background: rgba(225, 225, 225, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 10px;
    backdrop-filter: blur(4px) saturate(100%);
}

.search-bar input{ /*this is for the managing the iteams inside the search bar*/
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    font-size: 20px;
    color: white;
}

::placeholder{ /*this is the color of 'search...'*/
    color: white;
}

.search-bar button img{ /*this is of the search icon*/
    width: 25px;
    color: white;
}

.search-bar button{ /*this is of the button outer of the search icon*/
    border: 0;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #58629b;
    cursor: pointer;
}

.button{ /*this is of the register button editing*/
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid yellow;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.button:hover{ /*this is of the register button mouse pointer editing*/
    border: 2px solid red;
    background: red;
    transition: 2s;
}

nav .fa{ /*this is to hide the icon on both big and small screen*/
    display: none;
}

@media(max-width: 700px){ /*this is for the mobile screen disply*/
    .textbox h1{
        font-size: 35px;
    }

    .link ul li{
        display: block;
    }
    

    .link ul{ /*this is for making the home, contact etc in the middle of side bar*/
        margin: 15%;
    }

    .formcontainer{
        flex-direction: column;
    }
    .shortcut{
        margin-top: 20%;
    }


     .link{ /*this is for the side bar editing*/
        background: black;
        position: fixed;
        right: -200;
        top: 0;
        height: 100vh;
        width: 150px;
        text-align: left;
        transition: 1s;
        z-index: 2;

     }

     nav .fa{ /*this is for the showing icon in the side bar*/
        display: block;
        font-size: 17px;
        cursor: pointer;
        color: orangered;
        margin: 10px;
    
     }
}

.feat{ /*this is for the editing of the 3 partation of text*/
    text-align: center;
    margin-top: 3%;
    font-size: 30px;
}

p{
    text-align: center;
    font-size: 20px;
}

.row{ /*this is for making 3 partation in different parts*/
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}

.col{ /*this is for the editing of 3 partation like adding box, color etc*/
    flex-basis: 31%;
    text-align: center;
    margin: 5%;
    background-color: lightgrey;
    padding: 2%;
    border-radius: 100px;

}

.col:hover{ /*this is of the pointing editing by placing cursor in the 3part*/
    background-color: red;
    color: white;
    box-shadow: 15px 15px 10px gray;
    cursor: pointer;
    transform: scale(1.1);
    transition: 1s;
}

@media(max-width: 700px){ /*this is for the editing the 3part for the mobile device*/

    .row{
        flex-direction: column;
    }
}




.aboutus{ /*this is for the managing the last image*/
    width: 90%;
    min-height: 30vh;
    background-image: url("image/himalayan.jpg");
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.formbox{ /*this is for the formbox editing*/
    width: 70%;
    height: 70vh;
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.55);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
    margin-top: 15vh;
    z-index: 2;
    border-radius: 10px;
    display: none;
    cursor: pointer;
}

.formbox i{
    padding: 10px;
    font-size: 20px;
}

.formbox h3{
    text-align: center;
    font-size: 30px;
}

.formcontainer{ /*this is for the managing the form text*/
    display: flex;
    position: absolute;
    font-size: 20px;
    justify-content: space-between;
    margin-left: 15%;
    top: 30%;
    width: 70%;
}

.formcol{
    flex-basis: 50%;

}

.formcol input[type=text]{ /*this is for editing name,password and submit button*/
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid green;
    width: 100%;
    font-size: 20px;
    padding: 3px 10px;
}
.formcol input[type=password]{
    background-color: transparent;
    outline: none;
    outline-style: none;
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 2px solid green;
    width: 100%;
    font-size: 20px;
}
.formcol input[type=Submit]{
    width: 100%;
    font-size: 15px;
    background-color: transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid black;
}

.shortcut{ /*this is for the shortcut log in editing*/
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
}

.aboutus h1{
    font-size: 30px;
}

@media(max-width: 700px){ /*this is for the mobile size*/
    .aboutus h1{

        font-size: 22px;
    }
}

.footer{ /*this is for the social media icon  designing*/
    text-align: center;
    padding-top: 7px;
    background: rgba( 16, 1, 1, 0.3 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5.5px );
-webkit-backdrop-filter: blur( 5.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );

}

.footer i{
    font-size: 15px;
    cursor: pointer;
}
    

.lastline{ /*this is for making the 'copyright' to the left*/
    display: flex;
    width: 90%;
    font-size: 15px;
    margin: auto;
    padding-bottom: 7px;
}

.pages{
    flex: 1;
    display: inline-block;
    text-align: right;

}

